[Unit]
Description=Starting Watchdog Script
After=multi-user.target

[Service]
Type=forking
ExecStart=/usr/bin/screen -dmS watchdog sudo -E python3 /home/pi/watchdog/watchdog.py
Restart=always
User=pi
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
