<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Hub Data</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   </head>
   <body>
      <center>
         <br/><h1>Hub Data</h1>
         <table class="data_table">
            <tr>
               <td>IP: </td>
               <td>{{ ip_lte }}</td>
            </tr>
            <tr>
               <td>RSSI: </td>
               <td>{{ rssi }}</td>
            </tr>
            <tr>
               <td>Server requests: </td>
               <td>{{ q_counter }}</td>
            </tr>
            <tr>
               <td>Sensor requests: </td>
               <td>{{ num_beacons }}</td>
            </tr>
         </table> 
         <br/>
         <form method="post" action="/wifi">
            <input class="button" type="submit" value="WiFi" name="wifi"/>
         </form>
         <form method="post" action="/restart">
            <input class="button" type="submit" value="Restart" name="restart" />
         </form>
         <form method="post" action="/shutdown">
            <input class="button" type="submit" value="Shutdown" name="shutdown"/>
         </form>
      </center>
   </body>
</html>