<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hub Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="container">
      <center>
        <br/><h1>Please, login:</h1>
        <br/>
        <form method="post">
          <table class="login_table">
            <tr>
              <td class="login_td">Username: </td>
              <td class="login_td"><input class="box" type="text" name="username"/></td>
            </tr>  
            <tr>
              <td class="login_td">Password: </td> 
              <td class="login_td"><input class="box" type="password" name="password"/></td>
            </tr>
          </table>
          <br>
          <input class="button" type="submit" value="Login"/>
        </form>
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
        {% for message in get_flashed_messages()%}
          {{message}}
        {%endfor%}        
        </center>
    </div>
  </body>
</html>