<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Hub Data</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   </head>
   <body>
        <center>
            <br/><h1>Restart</h1>
            <ul>
                <li>The hub will be restarted in 5 seconds.</li>
                <li>When the green LED turns off, the shutdown process is done and the device will restart.</li>
                <li>After one minute, the green LED will turn on again.</li>
                <li>The process will take one minute to complete.</li>
                <li>Do not remove power during the process. Otherwise, the SD card image may be damaged.</li>
            </ul> 
        </center>
    </body>    
</html>