<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Hub Data</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   </head>
   <body>
        <center>
            <br/><h1>Shutdown</h1>
            <ul>
                <li>The hub will shut down in 5 seconds.</li>
                <li>Do not remove power before all LEDs turn off. Otherwise, the SD card image may be damaged.</li>
                <li>The process will take one minute to complete.</li>
            </ul> 
        </center>
    </body>    
</html>