<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Wi-Fi Update</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
   </head>
   <body>
        <center>
            <br/><h1>Wi-Fi Update</h1>
            <ul>
                <li>New configuration saved!</li>
                <li>The network interface wlan0 will restart.</li>
                <li>If the hub successfully connects to the server, the green LED will stop blinking.</li>
         </ul> 
        </center>
    </body>    
</html>