[Unit]
Description=Watchdog Script
After=multi-user.target

[Service]
Type=forking
ExecStart=/home/pi/scripts/startup.sh
WorkingDirectory=/home/pi/scripts/
Restart=always
User=pi
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
