.button{
    height:40px;
    width:310px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
 }

 .box{
    font-size: 20px;
 }

 .data_table, td{
   font-size: 25px;
   margin-left: auto;
   margin-right: auto;
   border: 1px solid black;
   border-collapse: collapse;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 33px;
   padding-right: 33px;
   margin-bottom: 10px;
}

.login_td{ 
   padding: 5px;
   border: 0px;
}

ul{
   display: inline-block;
   text-align: left;
   font-size: 25px;
 }

